 .topbar {


    margin-top: 5px;
    position: absolute;
    top: -20px;
    right: 0%;
    padding: 0px 5px;
    padding-left: 30px;
    padding-bottom: 0px;
    border-radius: 0% 0% 0% 30%;
    background-color: rgb(124, 124, 255);
    color: white;
    border: 2px solid white;
    outline: 4px solid rgba(124, 124, 255);
}


/*
.topbar-admin {
    display: flex;
    align-items: center;
    width: 300px;
    margin-right: 4rem;
    justify-content: space-around;
}

.topbar-admin h4 {
    margin: 0;
}

.topbar-end {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logOut {
    align-self: end;
    cursor: pointer;
}

.topbarimg {
    width: 36px;
    height: 36px;
} */


